/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)

## Typography

### Headings, Call-to-actions, Header Navigation

- Family: [hsl(0, 0%, 75%)](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400 */
:root {
  --moderate-cyan: hsl(170, 45%, 43%);
  --blue: #3dadd3;
  --light-green: #62E0D9;
  --primary-gradient: linear-gradient(to right, var(--moderate-cyan), var(--blue));
  --dark-blue: #21293C;
  --cta-blue: #1C2230;
  --footer-blue: #0C1524;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color:#fff;
  background-color: #181E2A;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 7.5rem;
}


/*NAV*/
.flex-menu {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__logo {
  max-width: 730px;
}

.img-logo {
  
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.img-logo:hover {
  transform: scale(1.1,1.1);
}

.menu--links {
  list-style: none;
  display: flex;
}

.menu--links li {
  margin-left: 5rem;
}

.menu__link:link,
.menu__link:visited {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s;
}

.menu__link:hover,
.menu__link:active {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
}

/*HERO*/
.flex-hero {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 1.9rem;
  align-items: center;
  max-width: 78rem;
  text-align: center;
  border: 1px solid red; 
}

.hero__items {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  align-items: center;
}

.hero__items>* {
  margin-bottom: 3rem;
}

.hero__img {
  max-width: 100%;
  height: auto;
}

.hero__items--heading {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  max-width: 68rem;
}

.hero__items--desc {
  max-width: 58.5rem;
  line-height: 1.5;
}

.btn {
  text-decoration: none;

}

.btn-grad {
  color: #fff;
  width: 280px;
  border-radius: 40px;
  background-image: var(--primary-gradient);
  font-size: 1.6rem;
  padding: 1.9rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn-grad:hover {
  transform: scale(1.1,1.1);
}

/* FEATURES */
.main--features {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid pink;
  grid-gap: 8.5rem 15rem;
  margin-bottom: 10rem;
}

.features {
  text-align: center;
  border: 1px solid green;
  display: grid;
  justify-items: center;
}

.features__img,
.features__items>*{
  padding-bottom: 1rem;
}

.features__items--heading {
  font-size: 1.8rem;
}

.features__items--desc {
  font-size: 1.4rem;
  line-height: 1.5;
}

/* PRODUCTIVITY */
.main--productivity {
  display: flex;
  align-items: center;
}

.productivity__img {
max-width: 612px;
border: 1px solid white;
}

.img-productive {
width: 100%;
}

.productivity {
  flex-basis: 64.5rem;
  padding-left: 6rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.productivity__heading {
  font-family: 'Raleway', sans-serif;
  max-width: 34rem;
  font-size: 3.8rem;
}

.productivity__desc:first-of-type {
  max-width: 51.7rem;
}

.productivity__desc {
  font-size: 1.6rem;
}

.btn-link {
  color: var(--light-green);
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: 1px solid var(--light-green);
  padding-bottom: 5px;
}

.btn-link:hover {
  border: none;
  margin-bottom: 1px;
}

.quote--container {
  position: relative;
}

.quotes {
  position: absolute;
  z-index: 1;
  top: 10.5rem;
  left: -0.9rem;
  height: auto;
  max-width: 5.5rem;
}

.main--testimonials {
  margin-top: 14rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3.8rem;
  margin-bottom: 26rem;
}

.testimonials {
  z-index: 2;
  padding: 4.5rem 2.8rem 2.5rem 2.3rem;
  background-color: var(--dark-blue);
  border-radius: 4px;
}

.testimonials__desc {
  font-size: 1.4rem;
}

.testimonials__img {
  border-radius: 50%;
}

.testimonials__author {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}

.author {
  font-size: 1.1rem;
  margin-left: 0.7rem;
}

.name {
  display: block;
}

/* CTA FORM */
.main--cta-form {
  position: relative;
  margin: 0 auto;
}

.cta-form__container {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -20%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--cta-blue);
  max-width: 86rem;
  width: 100%;
  height: 27rem;
  padding: 5rem 7.6rem 4rem 7.6rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.cta-form__heading {
  font-size: 3.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.cta-form__desc {
  font-size: 1.4rem;
}

.cta-form {
display: flex;
justify-content: space-between;
}

#email {
  flex-basis: 48rem;
  border-radius: 40px;
  padding-left: 3.6rem;
  border: none;
}

#email::placeholder {
  color: #C6C6C6;
}

label {
  display: none;
}

.footer-section {
  padding-top: 12.5rem;
  background-color: var(--footer-blue);
}



.wrapper {
  border: 1px solid gray;
}